<div>
    <h1>{{ esEdicion ? 'Editar Curso' : 'Crear Nuevo Curso' }}</h1>
    <form [formGroup]="form" (ngSubmit)="guardar()">
        <div>
            <label for="codigo">Código</label>
            <input id="codigo" type="text" formControlName="codigo" [readonly]="esEdicion" />
        </div>
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" formControlName="nombre" />
        </div>
        <div>
            <label for="nota">Nota</label>
            <input id="nota" type="number" formControlName="nota" />
            <div class="error" *ngIf="this.form.get('nota')?.hasError('required')">
                Se requiere nota
            </div>
            <div class="error" *ngIf="form?.get('nota')?.hasError('min') || form?.get('nota')?.hasError('max')">
                La nota debe estar entre 0 y 20
            </div>
        </div>
        <button type="submit" [disabled]="form.invalid">
            {{ esEdicion ? 'Guardar Cambios' : 'Crear Curso' }}
        </button>
        <button type="button" (click)="cancelar()">Cancelar</button>
    </form>
</div>